.block {

  display: block;
	margin-left: 1rem;
  margin-bottom: 16px;
  overflow-x: auto;
  overflow-y: hidden;
}

.inline {

  padding: .2em .4em;
  background-color: rgba(27, 31, 35, .05);
  font-size: 85%;
}
