
.container {

  display: inline-grid;

  text-decoration: none;

  position: relative;

  overflow: hidden;
}

.container::before {

  content: ' ';

  display: inline-block;

  position: absolute;

  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  
  transition: 0.5s;
}

.container:hover::before {

  background-color:rgba(0, 0, 0, 0.8);
}

.container > figcaption {

  position: absolute;

  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
 
  box-sizing: border-box;

  padding: 1.0em;

  font-size: 1.2em;
  font-family: sans-serif;

  color: rgba(255, 255, 255, 0);
  
  transition: 0.5s;
}

.container:hover > figcaption {

  color: rgba(255, 255, 255, 0.8);
}

.container > figcaption > p {

  display: flex;
  align-self: center;
  word-break: break-all;
  margin: 0px;
}
