.header {

    height: 3rem;
    padding-top: 1rem;
    border-bottom: 1rem solid black;

    background: #000;
    color: #fff;
    position: relative;
}

.headerTitle {

    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: serif;

    display: flex;

    height: 100%;
    margin: 0;
}

.headerTitle::before,
.headerTitle::after {

    content: ' ';
    flex: 1;
}

.headerLink {

    flex: 1;
    align-self: center;

    color: #fff;

    text-align: center;
    text-decoration: none;

    letter-spacing: 0.1em;
}

.header>nav {

    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
}

.header>nav>ul {

    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0px;
    align-items: flex-end;
    list-style: none;
    margin-right: 1em;
}

.header>nav>ul a {

    color: #fff;
}

.header>nav>ul svg {

    font-size: 1.5em;
    margin-right: 0.3em;
}
