
.container {

  color: black;
  background-color: #fff;
  padding: 1rem;

  max-width: 55rem;
  margin: auto;
}

.container:global(.preview) {

  max-width: 100% !important;
  min-height: 100%;
  min-width: 100%;
}

/* Image */

.container p img {

	max-width: 100%;
}

/* Latex */

.latex {

  display: block;
	margin-left: 1rem;
  margin-bottom: 16px;
}

.latexInline {

  padding: .2em .4em;
  background-color: rgba(27, 31, 35, .05);
  font-size: 85%;
}
