
.container {

  color: black;
  background-color: #fff;
  padding: 1rem;

  max-width: 55rem;
  margin: auto;
}

.container:global(.preview) {

  max-width: 100% !important;
  min-height: 100%;
  min-width: 100%;
}

/* Image */

.container p img {

	max-width: 100%;
}

/* Latex */

.container :global(.katex) {

	margin-left: 1rem;
}
